* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 320px;
  margin: 0 auto;
}

header {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.top-buttons {
  margin: 10px;
  text-align: center;
}