* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 320px;
  margin: 0 auto;
}

header {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

form {
  margin: 10px;
  padding: 10px;
}

legend {
  text-align: center;
}

fieldset {
  padding: 10px;
}

form input, form label {
  display: inline-block;
}